[Unit]
Description=ReadLaterRSS
Requires=network-online.target
After=network-online.target
After=multi-user.target

[Service]
Restart=on-failure
RestartSec=5s
Type=simple
WorkingDirectory=/srv
ExecStart=/srv/ReadLaterRSS -l 9225 -s https://example.com -a admin

[Install]
WantedBy=multi-user.target
