{{define "content"}}

{{range .}}
<div id="item_{{.Id}}">
    <div class="row" style="justify-content:space-between;">
        <button type="button" class="button" style="width: 4em;" onclick="deleteItem('{{.Id}}')">X</button>
        <p><strong>{{.Title}}</strong></p>
        <div class="column">
            <button id="spoilerButton_{{.Id}}" type="button" class="button" onclick="toggleSpoiler('{{.Id}}')">Show</button>
            <a {{if eq .Url ""}}style="display: none;"{{end}} href="{{.Url}}" name="read" class="button">Read</a>
        </div>
    </div>
    <div class="row" id="spoiler_{{.Id}}" name="spoiler" style="text-align:justify; display:none">
        <p>{{.Text | unescape}}</p>
        <p align="right"><em>{{.Created.Format "2006-01-02 15:04:05 MST"}}</em></p>
    </div>
</div>
<hr id="hr_{{.Id}}">
{{end}}
<div class="row">
    <p><em>Nothing left here. Try to <a href="/save">add</a>.</em></p>
</div>

<script>
    setActiveHeaderItem("header-explore");
</script>
{{end}}