{{define "content"}}

{{range .}}
<div class="row" style="justify-content:space-between;">
    <div>
        <p><strong>{{.Title}}</strong></p>
    </div>
    <div class="column">
        <button id="button_{{.Id}}" name="button" type="button" class="button"
            onclick="toggleSpoiler('{{.Id}}')">Show</button>
        <a href="{{.Link.Href}}" class="button">Read</a>
    </div>
</div>
<div class="row" id="spoiler_{{.Id}}" name="spoiler" style="font-size:smaller; text-align:justify; display:none">
    <p>{{.Description}}</p>
    <p>{{.Created}}</p>
    <!-- FIXME: <a href> are sanitized by html/template -->
</div>
{{end}}

<script>
    setActiveHeaderItem("header-explore");
</script>
{{end}}
