{{define "content"}}
{{range .}}
<div class="row">
    <p><strong>{{.Title}}</strong></p>
    <button id="button_{{.Id}}" name="button" type="button" class="button"
        onclick="toggleSpoiler('{{.Id}}')">Show</button>
    <a href="{{.Link.Href}}" class="button">Read</a>
</div>
<div class="row" id="spoiler_{{.Id}}" name="spoiler" style="display:none">
    <p>{{.Description}}</p>
    <!-- Creation date/time -->
    <p>{{.Created}}</p>
    <!-- FIXME: <a href> are sanitized by html/template -->
    <!-- FIXME: large descriptions don't fit into screen -->
</div>
{{end}}

<script>
    function toggleSpoiler(id) {
        var spoilers = document.getElementsByName("spoiler");
        spoilers.forEach(spoiler => {
            var baseId = spoiler.id.substring("spoiler_".length);
            var button = document.getElementById("button_" + baseId);
            if (baseId != id && spoiler.style.display === "block") {
                spoiler.style.display = "none";
                button.innerText = "Show";
            }
        });

        var spoiler = document.getElementById("spoiler_" + id);
        var button = document.getElementById("button_" + id);
        if (spoiler.style.display === "block") {
            spoiler.style.display = "none";
            button.innerText = "Show";
        } else {
            spoiler.style.display = "block";
            button.innerText = "Hide";
        }
    };
</script>
{{end}}
