{{define "template"}}
<!DOCTYPE html>
<html>

<head>
    <title>RSS: Read Later</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/script.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>
    <div class="header">
        <div class="header-group">
            <a id="header-save" name="header" href="save" class="button">Save</a>
            <a id="header-explore" name="header" href="explore" class="button">Explore</a>
        </div>
        <div class="header-group">
            <a id="header-rss" name="header" href="rss?feed={{.SelectedFeed.Title}}" class="button">RSS</a>
            <a id="header-feeds" name="header" href="feeds" class="button">Feeds</a>
        </div>
        <div class="header-group">
            <select id="header-feed-selector" name="feed-selector" size="1" onchange="selectFeed()">
                <option selected value="{{.SelectedFeed.Title}}">{{.SelectedFeed.Title}}</option>
                {{range .FeedSelector}}
                <option value="{{.Title}}">{{.Title}}</option>
                {{end}}
            </select>
        </div>
    </div>
    <div class="content">
        {{template "content" .Content}}
    </div>
</body>

</html>
{{end}}