<html>

<head>
    <title>New RSS item</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>
    <div class="container">
        <form action="/add" method="post">
            <div class="row">
                <label for="url">Paste the link:</label>
            </div>
            <div class="row">
                <input type="url" id="url" name="url" required="required">
            </div>
            <div class="row">
                <input type="submit" value="Add!" class="button">
            </div>
        </form>
    </div>
</body>

</html>
